
.year, .month {
	width: 150px;
	display: inline-block;
	padding-left: 10px
}

.addbutton {
	margin: 0 0 5px 10px
}

.greeting {
  padding-left: 10px;
  float: right
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer-content {
  padding: 15px 0 15px 0;
  margin: auto;
  width: 275px;
  color: #999;
}